/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.contuor {
    transition: fill 0.1s linear;
    fill: var(--heart-contuor);
}

.core {
    transition: fill 0.3s linear 0.03s;
}

.main-body {
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: var(--heart-contuor);
}

.like-icon:hover .core {
    transition: fill 0.3s linear;
    fill: var(--heart-contuor);
}

.like-icon:active .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: var(--heart-main-fill);
}

.like-icon:active .core {
    transition: fill 0.3s linear;
    fill: var(--heart-main-fill);
}

.like-icon.is-liked .core {
    transition: fill 0.3s linear;
    fill: var(--heart-main-fill);
}

.like-icon.is-liked .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: var(--heart-main-fill);
}

.like-icon.is-liked .contuor {
    transition: fill 0.3s linear 0.06s;
    fill: var(--heart-main-fill);
}

.like-icon .heart {
    transform-origin: center;
}

.like-icon.is-liked .heart{
    animation: like 0.3s 1 ease-in 0.1s;
}

.like-icon.is-liked .sparks{
    animation: sparks 0.3s 1 ease-in 0.3s;
}

@keyframes like {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sparks {
    0% {
        fill: transparent;
    }

    50% {
        fill: var(--heart-main-fill);
    }

    100% {
        fill: transparent;
    }
}



