/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: var(--weight-inter-main);
  background-image: repeating-linear-gradient(to bottom, var(--gradient-one) 0 2px, transparent 2px 4px), repeating-linear-gradient(to right, var(--gradient-one) 0 2px, transparent 2px 4px), linear-gradient(to bottom, var(--gradient-two) 0.01%, var(--gradient-three) 100%);
  background-size: cover;
  display: grid;
  justify-content: center;
  gap: 50px;
}

.header {
  inline-size: clamp(375px, calc(var(--size-header)), 700px);
  block-size: clamp(327px, calc(var(--size-header)), 368px);
  background-color: white;
  border: 2px solid black;
  font-weight: var(--weight-press);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header__title {
  font-size: clamp(49px, calc(var(--size-header)), 65px);
  
}

.header__subtitle {
  font-size: clamp(14px, calc(var(--size-header)), 23px);
}

.content_main-card {
  inline-size: clamp(375px, calc(var(--size-header)), 700px);
  background-color: white;
  border: 2px solid black;
  font-family: var(--font-akcent);
  margin-block-end: 50px;
}

.main_card-title {
  font-size: 18px;
  font-variation-settings: var(--weight-inter-akcent);
}

.main_card-picture {
  position: relative;
}

.main_card-image {
  inline-size: clamp(371px, calc(var(--size-header)), 696px);
}

.image-label {
  position: absolute;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  font-family: var(--font-main);
  font-size: 14px;
  opacity: 50%;
  -webkit-text-stroke: 1px white;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 white, 
  0 1px white, 
  1px 0 white, 
  0 -1px white;
}

.main_card-description {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(3, min-content);
  padding: 25px;
  gap: 25px 12px;
}

.main_card-text {
  font-variation-settings: var(--font-main);
  grid-column: span 2;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 36px;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: end;
  padding: 0;
  border: none;
  background-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
  transition: outline-color 0.3s ease;
}

.like-icon {
  z-index: 2;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid black;
  font-family: var(--font-main);
  font-variation-settings: var(--weight-press);
  justify-self: end;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.image-grayscale {
  filter: grayscale(70%);
}

.image-saturate {
  filter: saturate(250%);
}

.image-brihtness {
  filter: brightness(150%)
}

.image-invert {
  filter: invert(80%); 
}

.image-sepia {
  filter: sepia(100%);
}

.image-blur {
  filter: blur(20px);
}

.image-hue-rotate {
  filter: hue-rotate(0.25turn) contrast(50%); 
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
  backdrop-filter: blur(7px);
}

.object_interactive {
  inline-size: clamp(310px, calc(var(--size-header)), 339px);
  margin-inline: auto;
  margin-block-end: 100px;
}

.button_interactive {
  font-weight: var(--weight-press);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  gap: 8px;
  font-size: 14px;
  border: 2px solid black;
  margin:0;
  line-height: 90%;
}

.dialog_interactive {
  padding: 30px;
}

.dialog[open] {
  display: grid;
  padding: 0;
  margin: 0;
}

.dialog_main {
  width: clamp(260px, calc(var(--size-header)), 355px);
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
}

.text_dialog {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  font-family: var(--font-main), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog_interactive button {
  inline-size: 100%;
  block-size: 38px;
  grid-column: span 2;
  border: 2px solid black;
}

.like-icon:hover {
  cursor: pointer;
}

.button {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 9px 17px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  block-size: 38px;
  min-inline-size: 130px;
}

.button__text {
  z-index: 1;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  position: relative;
  color: aliceblue;
}

.button:hover {
  color: #fff;
}


.icon-save {
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;                                         /*Нихера не вылазит код*/
  fill: aliceblue;
  
}

.button:hover .icon-save {
  fill: #000;
}

.button:hover::before {
  content: "";
  transform: translateX(0);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px black;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: black;
}

@supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .image-label {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .button_interactive {
    flex-direction: column;
  }
}