/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: PressStart2P;
    --font-akcent: Inter;
    --weight-inter-main: 410;
    --weight-inter-akcent: 715;
    --weight-press: 400;
    --gradient-one: #d3d3d3;
    --gradient-two: #e7e7e7;
    --gradient-three: #1a1a1a;
    --size-header: ((100vw - 500px) * 1000);
}